<div class="header">
    <mat-toolbar color="primary">
      <div class="example-flex-container">
          <div class="example-button-container">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <button mat-mini-fab matBadge="30" matBadgeColor="warn" color="accent" aria-label="Example icon button with a menu icon">
                <mat-icon>menu</mat-icon>
              </button>
            </div>
      </div>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <span><a routerLink="/" class="route">My Posts</a></span>
      <span class="spacer"></span>
      <ul>
        <li>
          <a mat-raised-button routerLink="/create" class="route" routerLinkActive="mat-accent">Create Post</a>
        </li>
      </ul>
      <!-- <div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </div> -->
      <!-- <mat-chip-listbox aria-label="Fish selection">
        <mat-chip-option color="accent" selected>Home</mat-chip-option>
        <mat-chip-option color="accent">About</mat-chip-option>
        <mat-chip-option color="accent">Contact</mat-chip-option>
      </mat-chip-listbox> -->
  </mat-toolbar>
  <!-- <mat-progress-bar mode="buffer" color="primary"></mat-progress-bar> -->

</div>


